*{
    margin:0px;
    padding:0px;
}
body{
    height:100vh;
    background: url(list.jpg) no-repeat center top/cover;  
    display:flex;
    justify-content: center;
    align-items: center;
}
#task-container{
    width:350px;
    padding:10px 20px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 30px;
    margin-bottom:20px ;
    display:flex;

}
input{
    flex:5;
    margin-right: 8px;
    border-radius: 10px;
    font-size: 1.2rem;
    padding:5px;
}
#add-task{
    font-size: 1.2 rem;
    flex :1;
    transition:.3s;
    padding:5px;
    background-color: #fff;
    color:rgb(8, 60, 7);
    border:2px solid rgb(0, 255, 213) ;
    border-radius:10px;

}
#add-task:hover{
    background-color:rgb(16, 239, 191);
    border:2px solid rgb(11, 45, 52);
}
.task{
    width:100%;
    background-color: #fff;
    border-radius:10px;
    box-shadow: 0 0 3px;
    padding:5px;
    margin-bottom:5px;
    display: flex;
    justify-content: space-between;
}
.task li{
    list-style: none;
    flex:4;
    padding: 5px;
    font-size:1.3 rem;
    margin:10 px;
}
.task button {
    flex: 1;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
}
.task .checkTask {
    color: orange;
    margin-right: 5px;
    border: solid 2px orange;
    font-size: 1.5rem;
}
.task .deleteTask {
    color: rgb(251, 99, 18);
    border: solid 2px rgb(227, 14, 14);
    font-size: 1.3rem;
}
.task .deleteTask:hover {
    background-color: rgb(227, 14, 14);
    color: #fff;
}
